body {
    background-color: #191919;
    color: #55C055;
    font-size: 16px;
    text-shadow: 0 0 12px #c0c0c0;
    cursor: default;
}

::selection {
  background: #52FC68; 
  color: black;
  box-shadow: 0px 0px 12px #80a080;
  text-shadow: 0 0 12px white;
}

/* font size */
.fz-16 {
  font-size: 16px;
}

/* text shadow */
.tsh-0_0_12_c0 {
  text-shadow: 0 0 12px #c0c0c0;
}

/* width */

.w-per100 {
  width: 100%;
}

.w-600 {
  width: 600px;
}

/* height */

.h-600 {
  height: 600px;
}

.h-per100 {
  height: 100%;
}

.h-per97 {
  height: 97%;
}

.h-per3 {
  height: 3%;
}

/* padding */
.pb-5 {
  padding-bottom: 5px;
}

/* box-shadow */
.bxsh-screen {
  box-shadow: inset 0 0 160px #263b02;
}

/* text-align */

.ta-c {
  text-align: center;
}

/* margin */

.m0_auto {
  margin: 0 auto;
}

/* background-color */
.bgc-1b2a04 {
  background-color: #1b2a04;
}

.bgc-red {
  background-color: red;
}

/* color */

.c-55C055 {
  color: #55C055;
}



/* overflow */

.ovy-s {
  overflow-y: scroll;
}

